// Fonts
$fira: 'Fjalla One', 'sans-serif';
$source-sans: 'Source Sans Pro', 'sans-serif';

// Colors
$almost-white: rgba(252, 252, 252, 1);
$pearl: rgba(241, 243, 241, 1);
$charcoal: rgba(20, 25, 20, 1);
$dark-green: rgba(51, 121, 51, 1);
$pale-blue: rgba(67, 124, 144, 1);